.wrap {
  position: relative;
}

.desc_wrap {
  position: relative;
  width: 100%; /* Take the full width of the container */
  padding-top: 56%; /* Set the height as a percentage of the width */
  background-color: #f0f0f0;
  overflow-y: auto;
}

.desc_content {
  position: absolute;
  top: 0;
  left: 0;
}