.wrap {
  position: relative;
}

.desc_wrap {
  position: relative;
  width: 100%;
  padding-top: 56%;
  background-color: #f0f0f0;
  overflow: auto;
}

.desc_content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 12px;
}